body {
	margin: 0 auto;
	text-align: center;
	font-family: 'Helvetica', 'Arial';
}

h2 {
	font-weight: normal;
	font-size: 18px;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

button {
	font-size: 18px;
	cursor: pointer;
}

.countdown {
	font-size: 25px;
	font-weight: bold;
	color: green;
	float: right;
}

.countdown-15-sec-left {
	font-size: 25px;
	font-weight: bold;
	color: red;
	float: right;
}

.container {
	width: 480px;
	margin: 0 auto;
	text-align: left;
}

#options {
	margin: 10px 0;
}

.next-question {
	margin-right: 10px;
}

.option-true {
	color: green;
}
.option-false {
	display: none;
}