<div class="quiz-area" ng-show="inProgress">
    <div ng-show="!quizOver">
        <h2 id="question">{{question}}</h2>
        <div ng-show="picture">
            <img src="{{picture}}" />
        </div>
        <ul id="options">
            <li ng-repeat="option in options">
                <label>
                    <input type="radio" name="answer" value="{{option.isRight}}">
                    {{option.text}}
                </label>
            </li>
        </ul>
        <button ng-click="checkAnswer()" ng-show="answerMode">Submit</button>
 
        <div ng-show="!answerMode">
            <button ng-click="nextQuestion()" class="next-question">Next</button>
            <span ng-show="correctAns">That is correct!</span>
            <span ng-hide="correctAns">Sorry, that is an incorrect answer.</span>
        </div>
    </div>
 
    <div ng-show="quizOver">
        <h2>Quiz is over</h2>
        <button ng-click="reset()">Play again</button>
    </div>
 </div>

 
<div class="intro" ng-show="!inProgress">
    <p>Welcome to the QuizApp</p>
    <select id="type-group">
        <option value="">whole exam</option>
        <option value="regulation|HSZ 01 - Általános vezetési ismeretek">HSZ 01 - Általános vezetési ismeretek</option>
        <option value="regulation|HSZ 02 - Hajóbiztonsági ismeretek">HSZ 02 - Hajóbiztonsági ismeretek</option>
        <option value="regulation|HSZ 03 - Környezetvédelmi ismeretek">HSZ 03 - Környezetvédelmi ismeretek</option>
        <option value="regulation|HSZ 04 - Víziút, hajóút, kitűzés">HSZ 04 - Víziút, hajóút, kitűzés</option>
        <option value="regulation|HSZ 05 - Vízi közlekedés irányítása - 1">HSZ 05 - Vízi közlekedés irányítása - 1</option>
    </select>
    <button id="startQuiz" ng-click="start()">Start the Quiz</button>
</div>