<div class="quiz-area" ng-show="inProgress">
    <button ng-click="reset()">Play again</button>
    {{username}}
    <div ng-show="!quizOver">
        <br>
        <button ng-show="!answerMode" id="skipButton" ng-click="skip()" class="next-question">Skip</button>
        <button ng-show="answerMode" id="skipButton" ng-click="skip()" class="next-question">Skip (→)</button>
        <h2 id="question">{{origQuestionNum}}. {{question}}</h2>
        <div ng-show="picture">
            <img src="{{picture}}" style="max-width: 600px"/>
        </div>
        <ul id="options">
            <li ng-repeat="option in options">
                <label>
                    <input type="radio" name="answer" value="{{option.isRight}}" onclick="$('#quiz-submit').click()">
                    ({{$index+1}}) {{option.text}}
                </label>
            </li>
        </ul>
        <button id="quiz-submit" ng-click="checkAnswer()" ng-show="answerMode">Submit</button>
 
        <div ng-show="!answerMode">
            <button id="nextButton" ng-click="getQuestion()" class="next-question">Next (→)</button>
            <span ng-show="correctAns">That is correct!</span>
            <span ng-hide="correctAns">Sorry, that is an incorrect answer.
                <li ng-repeat="option in options">
                    <label class="option-{{option.isRight}}">
                        {{option.text}}
                    </label>
                </li>
            </span>
        </div>
    </div>
</div>

 
<div class="intro" ng-show="!inProgress">
    <div ng-hide="isUserSet">
        Please enter your user name: <input name="username">
        <button ng-click="setUsername()">Next</button>
    </div>
    <div ng-show="isUserSet">
        {{username}}: Please select the quiz you are interested in.
        <br><br>
        <select id="type-group">
            <option value="">whole exam</option>
            <option value="regulation|HSZ 01 - Általános vezetési ismeretek (1. nap)">HSZ 01 - Általános vezetési ismeretek (1. nap) (64 kérdés)</option>
            <option value="regulation|HSZ 02 - Hajóbiztonsági ismeretek (1. nap)">HSZ 02 - Hajóbiztonsági ismeretek (1. nap) (105 kérdés)</option>
            <option value="regulation|HSZ 03 - Környezetvédelmi ismeretek (1. nap)">HSZ 03 - Környezetvédelmi ismeretek (1. nap) (27 kérdés)</option>
            <option value="regulation|HSZ 04 - Víziút, hajóút, kitűzés (1. nap)">HSZ 04 - Víziút, hajóút, kitűzés (1. nap) (78 kérdés)</option>
            <option value="regulation|HSZ 05 - Vízi közlekedés irányítása - 1 (1. nap)">HSZ 05 - Vízi közlekedés irányítása - 1 (1. nap) (107 kérdés)</option>
            <option value="regulation|HSZ 06 - Vízi közlekedés irányítása - 2 (2. nap)">HSZ 06 - Vízi közlekedés irányítása - 2 (2. nap) (109 kérdés)</option>
            <option value="regulation|HSZ 07 - Hajózási szabályok - 1 (2. nap)">HSZ 07 - Hajózási szabályok - 1 (2. nap) (85 kérdés)</option>
            <option value="regulation|HSZ 07 - Hajózási szabályok - 1 - Dummy (2. nap)">HSZ 07 - Hajózási szabályok - 1 - Dummy (2. nap) (153 kérdés)</option>
            <option value="regulation|HSZ 08 - Hajózási szabályok - 2 (3. nap)">HSZ 08 - Hajózási szabályok - 2 (3. nap) (4 kérdés)</option>
            <option value="regulation|HSZ 08 - Hajózási szabályok - 2 - Dummy (3. nap)">HSZ 08 - Hajózási szabályok - 2 - Dummy (3. nap) (133 kérdés)</option>
            <option value="regulation|HSZ 09 - Nappali és éjszakai jelzések - 1 (3. nap)">HSZ 09 - Nappali és éjszakai jelzések - 1 (3. nap) (52 kérdés)</option>
            <option value="regulation|HSZ 10 - Különleges jelzések (3. nap)">HSZ 10 - Különleges jelzések (3. nap) ( kérdés)</option>
            <option value="regulation|HSZ 11 - Hangjelzések, rádió, AIS (4. nap)">HSZ 11 - Hangjelzések, rádió, AIS (4. nap) (31 kérdés)</option>
            <option value="regulation|HSZ 12 - Korlátozott látási viszonyok (4. nap)">HSZ 12 - Korlátozott látási viszonyok (4. nap) (27 kérdés)</option>
            <option value="regulation|HSZ 13 - Veszteglés (4. nap)">HSZ 13 - Veszteglés (4. nap) (27 kérdés)</option>
            <option value="regulation|HSZ 14 - Kompok, hajóhíd (4. nap)">HSZ 14 - Kompok, hajóhíd (4. nap) (16 kérdés)</option>
            <option value="regulation|HSZ 15 - Műtárgyak (4. nap)">HSZ 15 - Műtárgyak (4. nap) (40 kérdés)</option>
            <option value="regulation|HSZ 16 - Tavi jelzések (4. nap)">HSZ 16 - Tavi jelzések (4. nap) (40 kérdés)</option>
            <option value="regulation|HSZ 17 - Nappali és éjszakai jelzések - 2 (4. nap)">HSZ 17 - Nappali és éjszakai jelzések - 2 (4. nap) (40 kérdés)</option>
            <option value="regulation|HSZ 18 - Hajózási szabályok - 3 (4. nap)">HSZ 18 - Hajózási szabályok - 3 (4. nap) (40 kérdés)</option>
            <option value="regulation|HSZ 19 - Hajózási szabályok - 4 (4. nap)">HSZ 19 - Hajózási szabályok - 4 (4. nap) (51 kérdés)</option>
            <option value="regulation|HSZ 20 - Hajózási szabályok - 5 (4. nap)">HSZ 20 - Hajózási szabályok - 5 (4. nap) (51 kérdés)</option>
            <option value="sailboat|Hajózási ismeretek - Közös vitorlás és kisgéphajós (2. nap)">Hajózási ismeretek - Közös vitorlás és kisgéphajós (2. nap) (160 kérdés)</option>
            <option value="sailboat|Hajózási ismeretek - Közös vitorlás és kisgéphajós (3. nap)">Hajózási ismeretek - Közös vitorlás és kisgéphajós (3. nap) (186 kérdés)</option>
            <option value="sailboat|Hajózási ismeretek - Vitorlás kérdések (4. nap)">Hajózási ismeretek - Vitorlás kérdések (4. nap) (182 kérdés)</option>
            <option value="motorboat|Hajózási ismeretek - Kisgéphajós kérdések (4. nap)">Hajózási ismeretek - Kisgéphajós kérdések (4. nap) (67 kérdés)</option>
        </select>
        <button id="startQuiz" ng-click="start()">Start the Quiz</button>
    </div>
</div>